#- name: Check BGP sessions
#  nvidia.nvue.command:
#    commands:
#      - nv show vrf default router bgp neighbor brief -o json
#  register: output
#  no_log: true
#
#- name: Parse JSON
#  set_fact:
#    bgp: "{{ output.message | from_json }}"
#  no_log: true
#  
#- name: Print neighbour states
#  debug:
#    msg: "Neighbor {{ item.key }} is {{ item.value.state }}"
#  loop: "{{ bgp | dict2items }}"


- name: Execute script with inventory devices
  command: >
    /usr/bin/python3 /etc/ansible/scripts/thread_evpn.py
    {{ groups['leafs'] | join(' ') }}
  register: mac_check

- name: Execute script with inventory devices
  command: >
    /usr/bin/python3 /etc/ansible/scripts/thread_bgp.py
    {{ groups['leafs'] | join(' ') }}
  register: bgp_check

- name: Display output
  ansible.builtin.debug:
    msg: "{{ mac_check.stdout_lines }}"
    msg: "{{ bgp_check.stdout_lines }}"